sudo: false
addons:
  apt:
    sources:
      - kalakris-cmake
    packages:
      - cmake
language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.0
  - jruby-19mode
  - jruby-9.0.4.0
env:
  - BUNDLE_WITHOUT=secondary:development
  - BUNDLE_WITHOUT=primary:development

matrix:
  allow_failures:
    - env: BUNDLE_WITHOUT=primary:development
